<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Select ComboBox Test</title>

	<!-- Minimize unused/extraneous links -->
	<link rel="stylesheet" href="../../lib/css/trix.css">
	<link rel="stylesheet" href="../../lib/css/star-rating.css">
	<link rel="stylesheet" href="../../lib/css/bootstrap-3.3.6-dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../lib/css/bootstrap-3.3.6-dist/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="../../lib/css/font-awesome-4.6.3/css/font-awesome.min.css">
</head>

<body>
	<!-- Only include essential scripts and remove redundant comments -->
	<script src="../../lib/js/jquery1.11.3/jquery-1.11.3.js"></script>
	<script src="../../lib/css/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
	<script src="../../lib/js/x2js-master/xml2json.min.js"></script>
	<script src="../../lib/js/angular-1.5.5/angular.min.js"></script>
	<script src="../../lib/js/angular-1.5.5/angular-sanitize.min.js"></script>
	<script src="../../lib/js/angular-1.5.5/angular-animate.min.js"></script>
	<script src="../../lib/js/angular-1.5.5/angular-route.min.js"></script>
	<script src="../../lib/js/angular-1.5.5/angular-touch.js"></script>
	<script src="../../lib/js/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.js"></script>
	<script src="../../lib/js/axis-master/dist/axis.min.js"></script>
	<script src="../../lib/js/trix.js"></script>
	<script src="../../lib/js/angular-trix.js"></script>
	<script src="../../js/app.js"></script>
	<script src="../../js/directives/star-rating.js"></script>
	<script src="../../js/services/InterviewManagementServices.js"></script>
	<script src="../../js/controllers/selectComboBoxTest.js"></script>

	<div ng-app="DemoApp" ng-controller="selectComboBoxTest" class="container jumbotron">

		<!-- Category Selection -->
		<div class="form-group">
			<label for="repeatSelect">Select Category:</label>
			<select name="repeatSelect"
			        id="repeatSelect"
			        class="form-control"
			        ng-model="selectedCategorySelect"
			        ng-options="option.catgoryName for option in categoryData">
				<option value="">{{'--Select Category--'}}</option>
			</select>
		</div>

		<hr>

		<!-- Category Details -->
		<div ng-style="stylesData.templateParentDescriptionStyle" class="mb-3">
			<span>Category Id: {{selectedCategorySelect.catID}}</span>
			<span ng-bind-html="selectedCategorySelect.catgoryName"></span>
		</div>

		<!-- Show/Hide Data Button -->
		<div class="mb-3">
			<button type="button" class="btn btn-primary"
			        ng-mouseup="showData = !showData" ng-init="showData = false">
				<span ng-show="!showData">Show my data</span>
				<span ng-show="showData">Hide my data</span>
			</button>
			<span class="ml-2">showData: {{showData}}</span>
		</div>

		<!-- Refresh/Add Category Buttons -->
		<div class="mb-3" ng-show="!showData">
			<button type="button" class="btn btn-info" ng-mouseup="refreshAllCategories();">Refresh All Categories</button>
			<button type="button" class="btn btn-success" ng-mouseup="">Add Category</button>
		</div>

		<!-- Show Data Section -->
		<div ng-show="showData" class="mb-3">
			<div ng-repeat="option in categoryData track by option.catID" class="form-check">
				<label class="form-check-label">
					<input type="checkbox" ng-model="option.showQuestionsOfCategory" class="form-check-input">
					<span ng-bind-html="option.catgoryName"></span>
				</label>
			</div>
		</div>

		<!-- Category Data Renderer -->
		<div class="col-lg-12">
			<div ng-style="stylesData.templateParentDescriptionStyle"
			     ng-repeat="templateCategoryData in categoryData track by templateCategoryData.catID"
			     ng-show="settings.showDbBakupLinkData"
			     ng-include="'template/categoryData_item_renderer.html'">
			</div>
		</div>

		<hr>

		<!-- Increment Button -->
		<div class="mb-3">
			<button type="button" class="btn btn-warning" ng-mouseup="count = count + 1" ng-init="count=0">
				Increment (on mouse up)
			</button>
			<span class="ml-2">count: {{count}}</span>
		</div>

	</div>
</body>

</html>