<!DOCTYPE html>
<html>
   <head>
      <meta chrset="UTF 8">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
   </head>
   <body>
   
   
   
   
      <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
      <script src="js/app.js"></script>
	  
	  
      <script src="js/controllers/DemoController.js"></script>
      <div ng-app="DemoApp" ng-controller="DemoController" class="container jumbotron">
         <div ng-repeat="x in linkData" ng-show="{{settings.showLinkData}}" class="col-lg-12">
            <span><a href="{{x.url}}" ng-style="stylesData.anchorLinkDataStyle">{{x.header}}</a></span>
            <span ng-style="descriptionStyle">{{x.description}}</span>
         </div>
         <hr/>
         <hr/>
         <div class="col-lg-12">
            <span ng-repeat="x in dbBakupLinkData" ng-show="{{settings.showDbBakupLinkData}}">
               <span ng-style="stylesData.anchorDBLinkDataStyle"><a href="{{x.url}}" >{{x.description}}</a> &nbsp &nbsp &nbsp &nbsp | </span>
               <!-- <span ng-style="descriptionStyle">{{x.description}}</span> -->
            </span>
         </div>
         <hr/>
         <hr/>
		 
		 <ul>
			<li ng-repeat="data in importResponse.data.importPlan" ng-include="'plan_item_renderer.html'"></li>
		</ul>
		
		<!-- importResponse : {{importResponse.data.importPlan|json}} -->
		 
         <pre ng-style="stylesData.preDescriptionStyle">
			git status
			git commit -a -m " commiting for change" -m "adding updated xxx files" -m "checking multi line  commit message"
			git push
			git log -1

			git pull

			git add

			git remote add https://github.com/premendrakumar/my-pages.git

			git push --set-upstream mypages master

			git clone https://github.com/premendrakumar/my-pages.git
			
			git clone https://github.com/premendrakumar/tutorials.git eugenp-tutorials
			
			<b>To modify the last commit</b>
			git add file-i-forgot-to-add.html
			git commit --amend -m "Add the remaining file"
			
			<b>see our current branches</b>
			git branch
			
			<b>create a new branch</b>
			git branch  &lt;feature-branch-name&gt; 
			
			<b>For switching branches in Git, you won't use a "switch" command, as you might think. Instead, you'll need to use "checkout":</b>
			git checkout  &lt;feature-branch-name&gt; 
			
			<b>To merge a secondary branch into the main branch (which can be a master, development, or feature branch),
			first switch back to the main branch. In our case, we should checkout the master branch</b>
			git checkout &lt;main-branch-name&gt;
			git merge &lt;feature-branch-name&gt;
			
			
			
			
		</pre>
		
		<pre ng-style="stylesData.preDescriptionStyle">
			<b>To open a file in notepad++</b>
			set PATH=%PATH%;D:\Notepad++


			start notepad++


			start notepad++ file-name		
		</pre>
      </div>
      <script></script>
   </body>
</html>